body{
    background-image: url(../images/fondo.jpg);
    margin: 0;
    font-family: 'Cinzel', serif;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

nav{
    background-image: url(../images/marron-oscuro.jpg);
    background-size: contain;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: -24px;
    margin-bottom:50px;
}

nav div ul{
    display: flex;
    justify-content:flex-start;
    flex-direction: row;
    padding-inline-start: 0%;
    margin: 0;
}

nav ul li{
    list-style: none;
    margin-left: 30px;
    margin-right: 30px;
    text-shadow: 2px 2px black;
    /*background-color: rgb(243,229,171);
    border-radius: 20px;
    border-style: solid;
    border-top-color: rgb(187, 151, 104);
    border-left-color: rgb(187, 151, 104);
    border-right-color: rgb(129, 107, 68);
    border-bottom-color: rgb(129, 107, 68);*/
}

nav ul li a{
    text-decoration: none;
    color: rgb(182, 145, 80);
}

.nombreCat{
    text-align: center;
    margin-top: 20px;
}

.descCat{
    text-align: center;

}

.volver{
    color: black;
    margin-left: 10%;
}

.tabla{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center;
    font-size: 20px;
}

th, td{
    margin: 5%;
}

.error{
    text-align: center;
}

.form{
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.icon{
    height: 20px;
}

td a{
    color: black;
}