body{
    background-image: url(./images/fondo.jpg);
}

.logo{
    height: 200px;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav ul li{
    list-style: none;

}

nav ul li a{
    text-decoration: none;
    color: black;
}